alembic==1.0.6
Flask==1.0.2
Flask-Cors==3.0.7
flask-restplus==0.13.0
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
itsdangerous==1.1.0
Jinja2==2.10
keystoneauth1==3.11.2
keystonemiddleware==5.3.0
mysqlclient==1.4.1
PasteDeploy==2.0.1
PyMySQL==0.9.3
python-keystoneclient==3.18.0
requests==2.18.4
SQLAlchemy==1.2.16
Werkzeug==0.14.1
google-cloud-storage==1.36.2
py-zabbix==1.1.7
python-swiftclient==3.5.0
paramiko==2.8.0
boto3==1.15.18
prometheus-api-client==0.5.0
